<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Curso Vue.js Completo - V-bind</title>
    <script src="/js/vue.js"></script>       
    </head>
    
<body>

    <!--
  Utilizando as API's
  https://cloud.iexapis.com/stable/stock/aapl/quote?token=pk_4cd1f2fb6ede4ae49e8f2c74b51ccc7d
  https://cloud.iexapis.com/stable/stock/googl/quote?token=pk_4cd1f2fb6ede4ae49e8f2c74b51ccc7d

  - Compare o marketCap (valor de
  mercado) entre ambas.

  - Mostre o nome das empresas e o valor
  na interace (companyName e marketCap).

  - Mude a cor para verde o nome da empresa com
  maior marketCap e vermelho a com menor.
-->
    <div id="app">
       

        <select v-model="valorone" name="select">
            <option disabled>Selecione</option>
            <option value="aapl">Apple</option>
            <Option value="googl">Google</Option>
        </select>
       
        <span style="margin-left:10px;"> Nome da Ação : <b>{{ acoesOne.companyName }}</b> </span>
        <input type="hidden" v-model="valorAlto">   
        <span style="margin-left:10px;" > Valor da Ação:             
            <span :class="verificador(acoesOne.latestPrice, acoesTwo.latestPrice) ? 'verde' : 'vermelho'">
                {{ acoesOne.latestPrice }} 
            </span>
        </span> 
               
        <hr>

        <select v-model="valortwo" name="select">
            <option disabled>Selecione</option>
            <option value="aapl">Apple</option>
            <Option value="googl">Google</Option>
        </select>
        
        <span style="margin-left:10px;">Nome da ação : <b> {{ acoesTwo.companyName }}</b></span>        
        <span style="margin-left:10px;">Valor da Ação :            
            <span :class="verificador(acoesTwo.latestPrice, acoesOne.latestPrice ) ? 'verde' : 'vermelho'">
                {{ acoesTwo.latestPrice }}
            </span>
        </span>

        <br>
        Verificador: {{ verificador(this.acoesOne.latestPrice, this.acoesTwo.latestPrice) }}  
    </div>
<style>
    .verde{
        color:green;
    }
    .vermelho{
        color:red;
    }
</style>
    <script>
        const vm = new Vue ({
            el: "#app",
            data:{
                /*
                    Aqui fica os valores que vai ser repassado pelo data para ser exibido na pagina
                    aqui que fica essencia do reatividade.
                */
                valorone: "",
                acoesOne: "",
                valortwo: "",
                acoesTwo: "",                        
            },
            methods:{
                verificador (val1, val2) {
                    return val1 >= val2
                } 
            }, 

            /* 
                Aqui uso Watch porque tem ele função assicrona de levar e voltar o valor que eu quero. Aqui 
                estou puxando dados para ação 1 vindo do meu select. Ai eu insiro o valor na variável
                nomeDaAcaoOne e verifico se maior que 0 caracteres e puxo dados na API de acordo com nome da ação que solicitei no
                select.  Interessante que função tem que ser o nome do v-model nesse caso é valorone.

                Como são dois valores que vou precisar para valor 1 e valor 2 precisei criar duas funcoes para chamar api.
            */
           watch: {
            valorone(nomeDaAcaoOne){
                    if(nomeDaAcaoOne.length > 0){
                       fetch(`https://cloud.iexapis.com/stable/stock/${nomeDaAcaoOne}/quote?token=pk_4cd1f2fb6ede4ae49e8f2c74b51ccc7d`)
                       .then(r => r.json())
                       .then( r => { this.acoesOne = r;});
                    }                  
                },
                    
            valortwo(nomeDaAcaoTwo){
                    if(nomeDaAcaoTwo.length > 0){
                       fetch(`https://cloud.iexapis.com/stable/stock/${nomeDaAcaoTwo}/quote?token=pk_4cd1f2fb6ede4ae49e8f2c74b51ccc7d`)
                       .then(r => r.json())
                       .then( r => { this.acoesTwo = r;});
                    }                  
                },              
           
            }            
        });       
    </script>   
</body>
</html>