<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo 2 - Aula 8 - V-for</title>
    <script src="/js/vue.js"></script>
</head>
<body>

    <!-- 
            O QUE É V-FOR ?
            Ele renderiza uma lista de itens. Assim como for loop, ele irá executar para cada item da array/objeto.
    
    -->
<div id="app"> 
    <!-- Trabalhando com objeto -->   
    <!-- 
        Esse código siginifica destruturar o objeto. Contudo, não posso mais acessar da seguinte forma categoria.tipo
        <p v-for="({tipo},chave) in categorias">{{ tipo }} </p>

        outro exemplo 

        <p v-for="({tipo, marca}) in categorias">{{ tipo }} {{ marca }} </p>
    -->
    <p v-for="(categoria,chave) in categorias">{{ categoria }} </p>      
</div>

<script >
    const app  = new Vue ({
        el: "#app",
        data: {
            categorias: {
                informatica: {
                    tipo: "notebook",
                    marca: "dell"
                },
                televisao: {
                    tipo: "smart-tv",
                    marca: "samsug"
                }
            }
        }
    })
</script>
</body>
</html>