<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <title>Modulo 5 - aula 02 - Props</title>
</head>
<body>
    <div id="app">
       <!-- <p v-for="itens in listaItens">
            {{ itens }}
        </p>
        -->
        <lista-produtos :frutas="lista" titulo="Esse é o titulo"></lista-produtos>
    </div>

    <script type="module">
       const listaProdutos = {
           name:"ListaProdutos",
           props: ["frutas","titulo"],
           template: 
           `
            <div>
                <h1> {{ titulo }} </h1>

                <ul>
                    <li v-for="fruta in frutas"> {{ fruta }} </li>                
                </ul>
                
            </div>
            `

       }
               
        const app = new Vue({
            el: "#app",
            data:{
                lista: ["Banana", "Uva", "Maça"],                               
            },
            components:{
                listaProdutos
                
            }
        });
    </script>
</body>
</html>